.menu-mobile {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  /* background-color: red; */
  padding: 3px 16px;
  z-index: 1000;
  display: none;
  border-bottom: 1px solid rgb(55, 65, 81, 1);
}

.mb-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.mb-logo {
  object-fit: cover;
}
.mb-icon {
  color: rgb(229, 231, 235, 1);
}
.overlay-menulist-mobile {
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  padding: 20px 30px;
  width: 100vw;
  overflow: hidden;
  animation: fadeInMenuMobile linear 0.1s;
  will-change: opacity, transform;
  transform-origin: top left;
  display: none;
  background-color: rgb(26, 35, 46, 1);
}
.overlay-menulist-mobile.show {
  display: block;
}
@keyframes fadeInMenuMobile {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.btn-connect-mobile {
  margin: 30px 0;
  width: 100%;
}
.btn-connect-mobile button {
  width: 50%;
  border-radius: 20px;
}
.lists-menu-mobile {
  gap: 10px;
  padding-bottom: 30px;
}
.lists-menu-mobile a {
  padding: 10px 0;
}
.lists-menu-mobile .header-link.active::before {
  display: none;
}
.menu-mobile-line {
  width: 90%;
  margin: 0 auto;
  height: 1px;
  background-color: rgb(55, 65, 81, 1);
  margin-bottom: 20px;
}
.menu-mobile-footer {
  padding: 10px 0;
}
.infoWallet-mobile {
  width: 100%;
}
.infoWallet-mobile > div {
  width: 100%;
}
